{% extends "auctions/layout.html" %}

{% block body %}
<div class=" px-6 py-12 bg-gray-200">
    <h2 class="mb-12 text-xl text-center" >Active Listings</h2>
    <div>
        {% if message %}
        <div class="bg-green-500">
            {{ message }}
        </div>
        {% else %}
        <div class="bg-blue-500">
        {{ message }}
    </div>
    {% endif %}
    </div>
<div class="grid grid-cols-3 gap-3">
{% for listing in listings %}
<div>
    <a href="{% url 'listing' listing.id %}">
        <div class="p-6 m-6 bg-[#f4f7f5] rounded-xl">
            <img src="{{ listing.image.url }}" alt="" class="rounded-t-xl object-contain"><br>
            <h3>{{ listing.name }}</h3>
            <p class="text-sm">${{ listing.price }}</p>
            <p class="text-sm">Created {{ listing.created_at}}</p>

        </div>
    </a>
</div>
{% endfor %}
</div>
</div>
 
{% endblock %}